<p style="color: green"><%= notice %></p>

<h1>lists</h1>

<div id="lists">
  <% @lists.each do |list| %>


    <p><%= link_to list.name, list_path(list) %></p>

  <% end %>
</div>

<%= link_to "New list", new_list_path %>
<%= cl_image_tag("vcedxtk5byu8ewszrdnd",
      width: 400, height: 300, crop: :fill) %>

<!-- for face detection -->
<%= cl_image_tag("cld-sample",
      width: 150, height: 150, crop: :thumb, gravity: :face) %>

